@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --css-col-1: #141E46;
  --css-col-2: #41B06E;
  --css-col-3: #8DECB4;
  --css-col-4: #FFF5E0;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/background.jpg");
  height: 100vh;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  
}
body::-webkit-scrollbar-track {
  background-color: var(--css-col-3);
  
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(36, 92, 36);
  
}

@media only screen and (max-width:450px) {
  body {
    overflow: auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}